@font-face {
    src: url(img-combine/fonts/tarrget.ttf);
    font-family: Tarrget;
}

@font-face {
    src: url(img-combine/fonts/Evogria.otf);
    font-family: Evogria;
}

.other-font {
    font-family: Tarrget;
}

.formI {
    margin-top: 5px
}

.sliderInstructions {
    margin: 0, 0, 0, 0;
}