body {
    
    background-color: #2C2F33;
    color: #e6e6e6;
    border-color: #23272A;
    text-shadow:     
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

input {
    background-color: #23272A;
    color: #e6e6e6;
    border-color: #23272A;
}

select {
    background-color: #23272A;
    color: #e6e6e6;
    border-color: #23272A;
}

.formI {
    background-color: #23272A;
    color: #e6e6e6;
    border-color: #23272A;
}

@font-face {
    src: url(img-combine/fonts/tarrget.ttf);
    font-family: Tarrget;
}

@font-face {
    src: url(img-combine/fonts/Evogria.otf);
    font-family: Evogria;
}

.other-font {
    font-family: Tarrget;
}

.formI {
    margin-top: 5px
}

.sliderInstructions {
    margin: 0, 0, 0, 0;
}



